img, p, h1, h2, .divider {
	width: 100%;
	max-width: 740px;
    margin-left: auto;
	margin-right: auto;
    text-align: justify;
}

h1, h2 {
    font-family: "Roboto";
    font-size: 50px;
    text-align: center;
}

#byline {
    text-align: right;
    color: grey;
    font-size: 14px
}

img {
	display: block;
    padding: 15px 0px;
}

#release {
    width: 140%;
	max-width: 1100px;
}

#sequel, #audience {
    width: 100%;
    max-width: 740px;
}

#myTooltip {
	position: absolute;
	pointer-events: none;
    padding: 15px;
	background-color: white;
	border: 1px solid black;
    border-radius: 10px;
    opacity: 0;
}

p {
	font-size: 18px;
	line-height: 1.4;
    font-family: "Crimson Text";
}

.divider {
    height: 2px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}