img, p, h1, h2, .divider {
	width: 100%;
	max-width: 640px;
    margin-left: auto;
	margin-right: auto;
}

h1, h2 {
    font-family: "Roboto";
}

#byline {
    text-align: right;
    color: grey;
    font-size: 14px
}

img {
	display: block;
    padding: 15px 0px;
}

#chart {
    width: 100%;
	max-width: 800px;
}

p {
	font-size: 18px;
	line-height: 1.4;
    font-family: "Crimson Text";
}

.divider {
    height: 2px;
    background-color: #0868ac;
    margin-top: 10px;
    margin-bottom: 10px;
}